
footer{
	padding: 20px !important;
	margin-top: 20px !important;
	color: #ffF !important;
	background-color: #1293d4 !important;
	text-align: center !important;
}

.color1{
    background:#8D9DDD !important ;
}
.color2{
    background:#5A69A6 !important ;
}
.color3{
    background:#242F5C !important ;
}